In [3]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('C:/Users/BoboDS/Desktop/Great_Learning/Great Learning/Python Championship Quizzes/Dateset_ODI.csv')

In [9]:
df.shape

(3932, 7)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3932 entries, 0 to 3931
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Scorecard   3932 non-null   object
 1   Team 1      3932 non-null   object
 2   Team 2      3932 non-null   object
 3   Winner      3932 non-null   object
 4   Margin      3753 non-null   object
 5   Ground      3932 non-null   object
 6   Match Date  3932 non-null   object
dtypes: object(7)
memory usage: 215.2+ KB

In [12]:
df.describe()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
count,3932,3932,3932,3932,3753,3932,3932
unique,3932,24,25,25,227,173,3386
top,ODI # 1,Australia,Sri Lanka,Australia,6 wickets,Sharjah,"Feb 4, 2007"
freq,1,583,508,555,347,228,6

In [14]:
df.head()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
1,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972"
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
3,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972"
4,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973"

In [15]:
arr = np.arr([[1],[3],[5]])

AttributeError: module 'numpy' has no attribute 'arr'

In [16]:
dictionary = {"MARKS": 75, "RANK": 7}

In [17]:
dictionary

{'MARKS': 75, 'RANK': 7}

In [18]:
type(dictionary)

dict

In [19]:
matrix = np.array([[​1​,​2]
                  ,[3,4]
                  ,[5,6​]])

SyntaxError: invalid non-printable character U+200B (1865816379.py, line 1)

In [20]:
a = ['x','y','z']
b = ['w']
a.append(b)

In [21]:
a

['x', 'y', 'z', ['w']]

In [22]:
a=('x', 'y', 'z')
a[0] = 't'
a

TypeError: 'tuple' object does not support item assignment

In [27]:
df['Ground'].value_counts()

Sharjah       228
Dhaka         156
Sydney        154
Melbourne     147
Harare        136
             ...
Hove            1
Nairobi         1
Vijayawada      1
Kwekwe          1
Lucknow         1
Name: Ground, Length: 173, dtype: int64

In [29]:
df.groupby(['Ground'])['Winner'].max()

Ground
Aberdeen            Scotland
Abu Dhabi             U.A.E.
Adelaide                tied
Ahmedabad        West Indies
Albion           West Indies
                    ...
Vijayawada       West Indies
Visakhapatnam    West Indies
Wellington         no result
Whangarei        New Zealand
Worcester        West Indies
Name: Winner, Length: 173, dtype: object

In [35]:
def max_wins(df, ground):
    matches_at_ground = df[df['Ground'] == ground]
    team_wins = matches_at_ground['Winner'].value_counts()
    max_wins_team = team_wins.idxmax()
    return max_wins_team

max_wins_team = max_wins(df, 'Sharjah')
max_wins_team

'Pakistan'

In [36]:
df['Match Date'].value_counts()

Feb 4, 2007     6
Jun 7, 1975     4
Jul 10, 2010    4
Jun 14, 1975    4
Jun 11, 1975    4
               ..
Sep 26, 1998    1
Sep 27, 1998    1
Sep 30, 1998    1
Oct 24, 1998    1
Oct 29, 2017    1
Name: Match Date, Length: 3386, dtype: int64

In [43]:
Aussie_df = df['Winner'] == 'Australia'
Aussie_df

0        True
1       False
2        True
3       False
4       False
        ...
3927    False
3928    False
3929    False
3930    False
3931    False
Name: Winner, Length: 3932, dtype: bool

In [50]:
# Aussie_df['Ground'].value_counts()
Aussie_df = df.groupby(['Winner'])['Ground'].value_counts()
Aussie_df_1 = Aussie_df(['Winner'] == 'Australia')

TypeError: 'Series' object is not callable

In [62]:
def max_wins(df, ground):
    matches_at_ground = df[df['Ground'] == ground]
    team_wins = matches_at_ground['Winner'].value_counts()
    max_wins_team = team_wins.idxmax()
    return max_wins_team

max_wins_team = max_wins(df, 'Sharjah')
max_wins_team

'Pakistan'

In [54]:
def aussie_wins_on_ground(df, team):
    team_wins = df[df['Winner'] == team]['Ground'].value_counts()
    ground_with_most_wins = team_wins.idxmax()
    return ground_with_most_wins

ground_with_most_wins = aussie_wins_on_ground(df, 'Australia')
print(ground_with_most_wins)

Sydney

In [57]:
team_wins = df[df['Winner'] == 'Australia']['Ground'].value_counts()
team_wins

Sydney        85
Melbourne     74
Adelaide      34
Perth         29
Brisbane      23
              ..
Cardiff        1
Bristol        1
Faridabad      1
Amstelveen     1
Benoni         1
Name: Ground, Length: 97, dtype: int64

In [67]:
ground_wins = df[df['Ground'] == "Lords's Ground"]['Winner'].count()
ground_wins

0

In [61]:
team2_wins = df[df['Team 2'] == df['Winner']].count()
team2_wins

Scorecard     1637
Team 1        1637
Team 2        1637
Winner        1637
Margin        1635
Ground        1637
Match Date    1637
dtype: int64

In [83]:
lords_ground_wins = df.groupby(['Ground'])['Winner'].value_counts()
lords_ground_wins

Ground      Winner
Aberdeen    Scotland       6
            New Zealand    2
            Canada         1
            England        1
            Ireland        1
                          ..
Wellington  England        1
Whangarei   New Zealand    1
Worcester   Australia      1
            Sri Lanka      1
            West Indies    1
Name: Winner, Length: 999, dtype: int64

In [ ]:
lords_ground_wins[lords_ground_wins['Ground'] == "Lord's Ground"]

In [84]:
lords_ground_wins.groupby(['Ground'])['Winner'].max()

KeyError: 'Column not found: Winner'

In [86]:
def find_team_with_most_wins(df, ground):
    ground_wins = df[df['Ground'] == ground]['Winner'].value_counts()
    team_with_most_wins = ground_wins.idxmax()
    return team_with_most_wins

team_with_most_wins = find_team_with_most_wins(df, 'Lord’s')

ValueError: attempt to get argmax of an empty sequence

In [87]:
x = 1
for i in range(1,10,2):
   print(x*i)

1
3
5
7
9

In [88]:
a = np.array([['m','2'],['n','3']])
print(a[0,1])

2