# Variables

In [ ]:
a = 10
b = 5.1
add = a + b
add

In [ ]:
5 == (3 + 2)

In [ ]:
a = 3
print(a + (33))

In [ ]:
a = 3.5
int(a)
type(int(a))

In [ ]:
a = '5a'
int(a)

In [ ]:
base = 10
height = 5
area = (base * height)/2
area

In [ ]:
area = 10 * 5 ** .5
area

In [ ]:
v = 10
w = 25
x = 70 
y = 2
z = (v + w) * (x / y)
z

In [ ]:
35**2

In [ ]:
a = 10
b = 5
print('A and B before swapping {},{}'.format(a,b))
temp = a # create a third variable and assign the value of a to it
a = b
b = temp #value of a is in third variable so assign the value to b
print('A and B after swapping {},{}'.format(a,b))

In [ ]:
degree_sign = u'\N{DEGREE SIGN}'

celsius = 35
fah1 = 1.8 * celsius + 32
fah2 = (5/9) * celsius + 32
fah3 = 1.8 * celsius + 9/5
fah4 = 32 * celsius + 5/9
print('Temperature in Fahrenheit = ', fah1, degree_sign, sep= '')

print('Temperature in Fahrenheit = ', fah2, degree_sign, sep= '')

print('Temperature in Fahrenheit = ', fah3, degree_sign, sep= '')

print('Temperature in Fahrenheit = ', fah4, degree_sign, sep= '')

# Collection of Variables

In [ ]:
repeated_list = [2] * 4
print(repeated_list)

In [ ]:
fruit = ['apple', 'orange', 'grapes', 'watermelon']
print(fruit[1])
print(fruit[1:2])
print(fruit[-3:2])
print(fruit[-3:-2])

In [ ]:
fruit[0] = 'strawberries'
fruit

In [ ]:
alphabet = ['a', 'b', 'c']
for i in alphabet:
    print(i)

In [ ]:
for i in range(len(alphabet)):
    print(i)

In [ ]:
for i in range(alphabet):
    print(i)

In [51]:
num = [1,12,24,36,11,20,50]
for i in num:
    sq = i ** 2
    print(sq)
    #print(i**2)

1
144
576
1296
121
400
2500

In [52]:
number = [1, 12, 24, 36, 11, 20,50]
for i in number:
 sq = i * 2
 print(sq)

2
24
48
72
22
40
100

In [53]:
number = [1, 12, 24, 36, 11, 20,50]
for i in number:
 sq = i * i
 print(sq)

1
144
576
1296
121
400
2500

In [54]:
number = [1, 12, 24, 36, 11, 20,50]
for i in number:
 sq = i ** i
 print(sq)

1
8916100448256
1333735776850284124449081472843776
106387358923716524807713475752456393740167855629859291136
285311670611
104857600000000000000000000
8881784197001252323389053344726562500000000000000000000000000000000000000000000000000

In [55]:
number = [1, 12, 24, 36, 11, 20,50]
for i in number:
 sq = number * number
 print(sq)

TypeError: can't multiply sequence by non-int of type 'list'

In [58]:
color = ['white','red', 'blue', 'green','blue','yellow', 'black']
print(color)
color.remove('yellow')
print(color)

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']
['white', 'red', 'blue', 'green', 'blue', 'black']

In [59]:
color = ['white','red', 'blue', 'green','blue','yellow', 'black']
print(color)
color.pop(5)
print(color)

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']
['white', 'red', 'blue', 'green', 'blue', 'black']

In [61]:
len(color)

6

In [62]:
car = {'brand':"Audi","Model":"Q2","Year":1980}

In [63]:
car

{'brand': 'Audi', 'Model': 'Q2', 'Year': 1980}

In [64]:
car['Year'] = 2019
car

{'brand': 'Audi', 'Model': 'Q2', 'Year': 2019}

# Conditional Statements

In [1]:
a = 56
if a == 10:
    print("Hello")
else:
    print("Goodbye")

Goodbye

In [7]:
a = 2020
if a % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Number is even

In [9]:
length = 5
breadth = 10
# find the area and perimeter of the rectangle
Area = length * breadth
Perimeter = 2 * (length + breadth)
# check whether the area of the rectangle is greater than the perimeter of the rectangle
if Area > Perimeter:
    print("Area of the rectangle is greater than the Perimeter of the Rectangle")
else:
    print("Perimeter of the Rectangle is greater than the area of the Rectangle")

Area of the rectangle is greater than the Perimeter of the Rectangle

In [11]:
student_1 = 72
student_2 = 85
student_3 = 96
student_4 = 42
student_5 = 95

avg = (student_1 + student_2 + student_3 + student_4 + student_5) / 5
print("Average =", avg)

Average = 78.0

In [12]:
if avg > 90:
    print("Grade A")
elif avg > 80:
    print("Grade B")
    
elif avg > 70:
    print("Grade C")
    
elif avg > 60:
    print("Grade D")
    
elif avg > 50:
    print("Grade E")
    
else:
    print("Fail")

Grade C

In [13]:
x = 6
y = 8 
z = 12
if x== y == z:
    print("Equilateral Triangle")
elif x==y or y ==z or z ==x:
    print('Isosceles Triangle')
else:
    print('Scalene Triangle')

Scalene Triangle

In [14]:
a = "I am a Data Scientist"
if "Data" in a:
    print("It is present")
else:
    print("False")

It is present

In [15]:
a = -99
if a > 0:
    print("Positive Number")
else:
    print("Negative Number")

Negative Number

In [26]:
a = -99
if a > 0:
 print("Number is Positive) 
       # It was missing an apostrophe
else:
 print("Number is negative")

SyntaxError: EOL while scanning string literal (2697485457.py, line 3)

In [16]:
x = 20
y = 30

if x<y:
    print("X is less than Y")
else:
    print("X is greater than Y")

X is less than Y

In [22]:
age = int(input('Enter your age:'))
if age < 18:
    print("Minors are not eligible to work")
elif age >= 18 and age <= 60:
    print("Eligible to work")
else:
    print("Too old to work as per Govt Regulation")

Too old to work as per Govt Regulation

In [24]:
first = 25
second = 34
third = 45

if first >= second and first >= third:
    print(first)
elif second >= first and second >= third:
    print(second)
elif third >= first and third >= second:
    print(third)
else:
    print("All of the values are equal")

45

# For Loops

In [68]:
print(range(5))

range(0, 5)

In [67]:
print(list(range(1,5)))

[1, 2, 3, 4]

In [30]:
for i in range(-10, 0, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [31]:
n = 10
i = 1
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [32]:
n = 10 
i = 1
while i <= n:
    print(i)
    i+= 1

1
2
3
4
5
6
7
8
9
10

In [34]:
for i in range(1,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [35]:
n = 8
for i in range(1, 11):
    print("{} ^ {} = ".format(n,i), n ** i)

8 ^ 1 =  8
8 ^ 2 =  64
8 ^ 3 =  512
8 ^ 4 =  4096
8 ^ 5 =  32768
8 ^ 6 =  262144
8 ^ 7 =  2097152
8 ^ 8 =  16777216
8 ^ 9 =  134217728
8 ^ 10 =  1073741824

In [39]:
for i in range(1,101):
    if (i % 3 == 0 and i % 5 == 0):
        print("FizzBuzz")
    
    elif (i % 3 == 0):
        print("Fizz")
    
    elif (i % 5 == 0):
        print("Buzz")

    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [51]:
sum = 0 
for i in range(1,101):
    sum += i
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [54]:
for i in range(202,321):
    if (i % 7 == 0) and (i % 5 != 0):
        print(i)

203
217
224
231
238
252
259
266
273
287
294
301
308

In [57]:
st = "Data Science"
count = 0
for i in st:
    if i == "a"     or i == 'e'     or i == 'i'    or i == 'o'     or i == 'u':
        count += 1
    print(count)

0
1
1
2
2
2
2
3
4
4
4
5

In [58]:
a = "Data Science"
for i in range(0,5):
    print(a)

Data Science
Data Science
Data Science
Data Science
Data Science

# List comprehension

In [59]:
list_1 = [1,2,3,4,5]
list_comp = [i for i in list_1]
print(list_comp)

[1, 2, 3, 4, 5]

In [61]:
list_1 = []

for i in list_1:
print(i)

IndentationError: expected an indented block (4187876983.py, line 4)

In [62]:
week_list = ["Week" + str(i) for i in range(5)]
print(week_list)

['Week0', 'Week1', 'Week2', 'Week3', 'Week4']

# Functions

In [64]:
def func(a):
    print(a)
A = [0,1,2,3]
func(A)

[0, 1, 2, 3]

# Return Statement

In [65]:
i = '20'
if i > 20:
    print(1)
else:
    print(2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [67]:
a = 1
for i in range(1,5):
    a = a*i
print(a)

24

In [70]:
lst = [1,2,3,4]

print(lst[2])
print(lst[-2])
print(lst[2:3])
print(lst[-2:-3])

3
3
[3]
[]

In [71]:
alphabets = {'1':'A','2':'B','3':['C','D','E']}

alphabets['3'][2]

'E'

In [77]:
list = ['Great',51, True, 46, 'Hi']
print(list[2:4])
print(list[-3:-1])
print(list[2:-1])
print(list[-3:4])

[True, 46]
[True, 46]
[True, 46]
[True, 46]

In [78]:
list_mul = ['2','2','2']
list_mul*2

['2', '2', '2', '2', '2', '2']

# Conditional Statements

In [4]:
# Find numbers divisible by 7 and multiples of 5, between 1500 and 2700
between = []
for i in range(1500, 2701):
    if i % 7 == 0  and i % 5 == 0:
        print("Divisible by 5 & 7")
    else:
        print(i)

1500
1501
1502
1503
1504
Divisible by 5 & 7
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
Divisible by 5 & 7
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
Divisible by 5 & 7
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
Divisible by 5 & 7
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
Divisible by 5 & 7
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
Divisible by 5 & 7
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
Divisible by 5 & 7
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
Divisible by 5 & 7
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
Divisible by 5 & 7
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
Divisible by 5 & 7
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
Divisible by 5 & 7
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
Divisible by 5 & 7
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
Divisible by 5 & 7
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
Divisible by 5 & 7
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
Divisible by 5 & 7
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
Divisible by 5 & 7
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
Divisible by 5 & 7
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
Divisible by 5 & 7
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
Divisible by 5 & 7
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
Divisible by 5 & 7
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
Divisible by 5 & 7
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
Divisible by 5 & 7
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
Divisible by 5 & 7
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
Divisible by 5 & 7
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
Divisible by 5 & 7
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
Divisible by 5 & 7
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
Divisible by 5 & 7
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
Divisible by 5 & 7
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
Divisible by 5 & 7
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
Divisible by 5 & 7
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
Divisible by 5 & 7
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
Divisible by 5 & 7
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
Divisible by 5 & 7
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
Divisible by 5 & 7
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
Divisible by 5 & 7
2696
2697
2698
2699
2700

In [17]:
between = []
for i in range (2500, 2701):
    if (i % 5==0) and (i % 7 ==0):
        between.append(i)
print (f'All numbers in list are divisible by 5 and 7 in between 1500 and 2700/n',between)

All numbers in list are divisible by 5 and 7 in between 1500 and 2700/n [2520, 2555, 2590, 2625, 2660, 2695]

In [26]:
import random
target_num, user_input = random.randint(1,10),0
while target_num!= user_input:
    user_input = int(input("Guess a number between 1 and 9"))
print("Good Guess")

Good Guess

In [29]:
for i in range(1,6):
    print(i * "*")
for i in reversed(range(1,5)):
    print(i * "*")

*
**
***
****
*****
****
***
**
*

In [32]:
n = 5;
for i in range(n):
    for j in range(i):
        print("* ", end='')
    print("")
    
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end ="")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [33]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [1]:
def func(var1 = 2, var2 = 4):
    var2 = 6
    var1 = 5
    print(var1, var2)
func(10,20)

5 6